<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {tabTitle: 'Sobre nosotros'}) %>


<!-- ====================== Empieza Navbar ============================ -->
    <%- include('partials/header') %>
<!-- ======================= Termina Navbar ======================== -->


<div class="about-us__container-title">
    <h2 class="contact-form__title">Nosotros</h2>
    <p class="about-us__text-description" >Fomentamos la idea de dejar la palabra cliente para pasar a llamarlos luchadores</p>
    <p class="about-us__text-description">PREPARATE PARA EL CAMPO DE BATALLA DE LA MEJOR FORMA
        "WEAR THE STREETS, OWN THE SCENE."</p>

</div>

<section class="about-us__section">
    <div class="about-us__container--text">
    <h4 class="about-us__text-welcome">
        Bienvenidos a Bushido©, una marca de ropa inspirada en el Japón feudal que combina la comodidad y el estilo moderno con la estética y la cultura del Japón antiguo.
    <h2>

    <p class="about-us__text-description">Somos un equipo conformado por tres amigos siguiendo nuestro sueño, lo cual asegura nuestra originilidad y por supuesto calidad y profesionalidad frente a cada uno de nuestros productos</p>
        <div class="about-us__row">

            <article class="about-us--card">
                <div class="about-us--card__header">
                    <h3 class="about-us__card--title">Thiago Palermo</h3>
                    <img src="/Assets/about-us__section/titiano.png" alt="foto de integrante facha" class="about-us--card__image">
                </div>
                <div class="about-us--card__body">
                    <div class="about-us--card__title">
                        <h5 class="about-us__h5">
                            Direccion de fotografia
                        </h5>
                    </div>
                    <p class="about-us--card__description">
                        Encargado de hacer que tengamos la mejor calidad fotografica del mercado
                    </p>
                </div>
                <div class="about-us--card__footer">
                    <div class="about-us--card__btn-container">
                        <a href="https://mail.google.com/mail/">
                            <h5 class="about-us__h5-mail">thiagocardama@gmail.com</h5>
                        </a>
                        <a href="https://walink.co/798a19" class="about-us--card__btn">
                            Contacto
                        </a> 
                    </div>
                </div>
            </article>

            <article class="about-us--card">
                <div class="about-us--card__header">
                    <h3 class="about-us__card--title">Walter Mayer</h3>
                    <img src="/Assets/about-us__section/wallas.png" alt="foto de integrante facha y el creador" class="about-us--card__image">
                </div>
                <div class="about-us--card__body">
                    <div class="about-us--card__title">
                        <h5 class="about-us__h5">Art director & CEO</h5>
                    </div>
                    <p class="about-us--card__description">
                        Fundador de la marca Bushido©, y responsable de haber creado la pagina y los diseños
                    </p>
                </div>
                <div class="about-us--card__footer">
                    <div class="about-us--card__btn-container">
                        <a href="https://mail.google.com/mail/">
                            <h5 class="about-us__h5-mail">waltermayer@outlook.es</h5>
                        </a>
                        <a href="https://walink.co/798a19" class="about-us--card__btn">
                            Contacto
                        </a> 
                    </div>
                </div>
            </article>

            <article class="about-us--card">
                <div class="about-us--card__header">
                    <h3 class="about-us__card--title">Farid Ozan</h3>
                    <img src="/Assets/about-us__section/far.png" alt="foto de integrante facha y el creador" class="about-us--card__image">
                </div>
                <div class="about-us--card__body">
                    <div class="about-us--card__title">
                        <h5 class="about-us__h5">Communty Mannager </h5>
                    </div>
                    <p class="about-us--card__description">
                        Encargado de mantener a nuestros seguidores atentos y actualizados.
                    </p>
                </div>
                <div class="about-us--card__footer">
                    <div class="about-us--card__btn-container">
                        <a href="https://mail.google.com/mail/">
                            <h5 class="about-us__h5-mail">Faridozangerman@gmail.com</h5>
                        </a>
                        <a href="https://walink.co/798a19" class="about-us--card__btn">
                            Contacto
                        </a> 
                    </div>
                </div>
            </article>

        </div>

    <p class="about-us__text-description">Nos enorgullece ofrecer prendas de alta calidad que no solo se ven bien, sino que también son cómodas y prácticas. Nos enfocamos en diseñar ropa que se adapte a tu estilo de vida moderno sin comprometer el diseño y la estética del Japón feudal que tanto nos inspira.</p>
    
    <div class="about-us__container-img">
        <img class="about-us__img-p" src="/Assets/about-us__section/1.jpg" alt="">
    </div>

    <p class="about-us__text-description">En Bushido©, nos inspiramos en la estética y la cultura del Japón feudal, pero no nos limitamos a replicar diseños antiguos. Nos esforzamos por crear prendas únicas y modernas que combinen la estética tradicional con la moda actual.</p>
    
    <div class="about-us__container-img">
        <img class="about-us__img-p" src="/Assets/about-us__section/2.jpg" alt="">
    </div>

    <p class="about-us__text-description">Ofrecemos una amplia gama de productos, desde chaquetas y pantalones hasta camisetas y sudaderas. Cada prenda que hacemos está diseñada con la comodidad y el estilo en mente, para que puedas lucir bien y sentirte cómodo en cualquier momento.</p>
    <div class="about-us__container-img">
        <img class="about-us__img-p" src="/Assets/about-us__section/5.jpg" alt="">
    </div>
    <p class="about-us__text-description">En Bushido©, nos enorgullecemos de nuestra cultura de empresa. Nos encanta trabajar juntos para crear prendas modernas y estilizadas que honren la cultura del Japón feudal. Cada prenda que hacemos es una oportunidad para conectarnos con nuestra historia y nuestras raíces culturales.</p>
    
    <div class="about-us__container-img">
        <img class="about-us__img-p" src="/Assets/about-us__section/3.jpg" alt="">
    </div>

    <p class="about-us__text-description">Gracias por visitar Bushido©. Esperamos que disfrutes de nuestra ropa y que te sientas inspirado por la estética y la cultura del Japón feudal al igual que nosotros.</p>

</section>


<!-- ========================== Inicio Footer =============================== -->

<%- include('partials/footer') %>

<!-- ========================== Final Footer =============================== -->
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

<script src="/js/funcionality/URL.js"></script>
<script src="/js/funcionality/header.js"></script>

</body>
</html>