<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {tabTitle: 'Admin-products'}) %>

<body>

<!-- ======================= Empieza Navbar ============================= -->
    <%- include('partials/header') %>

<!-- ======================= Termina Navbar ============================= -->



    <section class="admin-product__section-product">

        <div class="admin__title-container">
            <h1 class="section-cards__title">
                Admin Product
            </h1>
        </div>

        <div class="admin-product__div--product">
            
            <form class="admin-product__form" id="form-product" onsubmit="addProduct(event)">
                <div class="admin-product__div--product">
                    <label class="admin-product__label" for="nameLabel">Titulo</label>
                    <input class="admin-product__input" id="name" placeholder="Remera John Doe | Basica"  type="text" required>
                </div>

                <div class="admin-product__div--product">
                    <label  class="admin-product__label" for="desLabel">Descripcion</label>
                    <textarea name="description" id="desArea" cols="43" placeholder="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, et nisi consequatur tempora perspiciatis cum labore incidunt assumenda, ipsam error, ut quae tempore. Amet recusandae fugit sunt nisi voluptas magnam!" rows="10" required></textarea>
                </div>

                <div class="admin-product__div--product">
                    <label class="admin-product__label" for="category">Categoria</label><br>
                    <select name="category" id="category"  class="admin-product__input"   onselect="" required>
                        <option value="" aria-placeholder="--" selected></option>
                        <option value="648b31b22804c44cbd3d95d0">Buzo</option>
                        <option value="648b32042804c44cbd3d95d5">Remera</option>        
                    </select>
                </div>

                <div class="admin-product__div--product">
                    <label for="priceLabel" class="admin-product__label" 
                    >Precio</label>
                    <input class="admin-product__input" id="priceLabel" placeholder="$" name="price" type="number" required>
                </div>
                
                <div class="admin-product__div--product">
                    <label class="admin-product__label" for="imageLabel">Imagen</label>
                    <input class="admin-product__input" type="file" name="image" 
                    accept="image/*" id="imageLabel" value="/Assets/page-notifier/not-found.png" required
                    >
                
                </div>

                    <button class="admin-product__btn" id="btnProduct"> Cargar </button>
            </form>

            <div class="admin-product__table-div">
                <table class="admin-product__table">
                    <thead>
                        <tr>
                            <td class="admin-product__td">Imagen</td>
                            <td class="admin-product__td">Producto</td>
                            <td class="admin-product__td">Descripcion</td>
                            <td class="admin-product__td">Precio</td>
                            <td class="admin-product__td">Acciones</td>
                        </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
            </div>

        </div>

    </section>








    <!-- ========================== Inicio Footer =============================== -->

    <%- include('partials/footer') %>

<!-- ========================== Final Footer =============================== -->
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="/js/funcionality/URL.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <script src="/js/admin/admin-product.js"></script>
    <script src="/js/funcionality/alert.js"></script>
    <script src="/js/funcionality/header.js"></script>
    <script src="/js/admin/is.admin.js"></script>
</body>
</html>