<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {tabTitle: 'Detalle del producto'}) %>
<body>



    <%- include('partials/header') %>

        <!-- ============================= Termina Navbar ================================= -->
        

        <div class="admin__title-container">
            <h1 class="section-cards__title">
                Detalles del producto
            </h1>
            </div>
    


<section id="product-detail"></section>







    <!-- ========================== Inicio Footer =============================== -->

    <%- include('partials/footer') %>

<!-- ========================== Final Footer =============================== -->




<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="/js/funcionality/URL.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
<script src="/js/products/product.detail.js"></script>
<script src="/js/funcionality/header.js"></script>
<script src="/js/funcionality/alert.js"></script>

</body>
</html>